table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.todo-list-container {
  width: 100%;
}

.button-space {
  width: 10px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
}
